@model HomeViewModel


<div class="jumbotron">
    <h1 class="display-4">@ViewData["Titolo"]</h1>
    <p class="lead">Impara in maniera facile e divertente con i nostri corsi online!<br>
Scegli da un vasto catalogo sempre a tua disposizione.</p>
    <p><a asp-controller="Courses" asp-action="Index" class="btn btn-primary">Sfoglia il catalogo dei corsi <i class="fa fa-angle-right"></i></a></p>
</div>

<section>
    <h2>titoli recenti</h2>
    @foreach (var course in Model.MostRecentCourses)
    {
        <partial name="Courses/_CourseLine" model="@course"></partial>
        @* <hr>
<div class="row">
    <div class="col-md-1">
        <img src="@course.ImagePath" width="52" height="52" >
    </div>
    <div class="col-md-5">
        @course.Title<br>
        <author>@course.Author</author>   
    </div>
    <div class="col-md-2 rating" title="@course.Rating">
        <rating value="@course.Rating"></rating> *@
        @* @for(int i=1; i<=5;i++){
            if(course.Rating>=i){
                <i class="fa fa-star"></i>
            }
            else if(course.Rating>i-1){
                <i class="fa fa-star-half"></i>
            }
            else{
                <i class="fa fa-times-circle"></i>
            }

        }  *@
        
    @* </div> *@
    @* <div class="col-md-2 price">
        <price current-price="@course.CurrentPrice" full-price="@course.FullPrice"></price> *@
        @* @course.CurrentPrice
        @if(!course.CurrentPrice.Equals(course.FullPrice)){
            <br> <s>@course.FullPrice</s>
        }  *@
    @* </div>
    <div class="col-md-2 d-flex align-items-center">
        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id">Dettaglio</a>
    </div>
</div> *@
        
    }
</section>

<section>
    <h2>i migliori di sempre</h2>
    @foreach (var course in Model.BestRatingCourses)
    {
        <partial name="Courses/_CourseLine" model="@course"></partial>
    }
</section>